/* start section */
.start_section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url("../img/start-bg.png") center right no-repeat;
}

.start_title {
    font-size: 95px;
    font-weight: 600;
    color: #fff;
}

.start_title span {
    display: block;
}

.start_title span:last-child {
    color: var(--light-blue);
}

.start_title span:last-child::before {
    content: "";
    background: url("../img/icons/circle.png") no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -10px;
}

.start_desc {
    font-size: 29px;
    color: #fff;
    padding: 37px 0;
}

.start_desc span {
    color: var(--light-blue);
}

.start_btn-explore button {
    margin-right: 20px;
    margin-bottom: 16px;
}

@media screen and (max-width: 785px) {
    .start_section {
        padding-top: 60px;
        padding-bottom: 70px;
        background: none;
    }
    .start_title {
        font-size: 65px;
    }
    .start_title span:last-child::before {
        width: 67px;
        height: 67px;
    }
    .start_desc {
        font-size: 21px;
    }
}

@media screen and (max-width: 600px) {
    .start_title {
        font-size: 50px;
    }
    .start_title span:last-child::before {
        width: 57px;
        height: 57px;
        margin-right: 10px;
    }
    .start_desc {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .start_section {
        padding-bottom: 35px;
    }
    .start_title {
        font-size: 35px;
    }
    .start_title span:last-child::before {
        width: 35px;
        height: 35px;
        margin-bottom: -5px;
    }
}

.scroller {
    /* max-width: 1000px; */
    margin-top: 15px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.skills-list li {
    padding: 17px 45px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    background: var(--light-muted-blue);
    border-radius: 132px;
}

/* cases section */
.cases_section {
    padding-top: 90px;
}

.cases_title {
    font-size: 85px;
    font-weight: 600;
    color: #fff;
}

.cases_title span:not(.cases_no-nda) {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: var(--light-blue);
}

.cases_title .cases_no-nda {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    padding: 25px 40px;
    border: 1px solid var(--light-blue);
    border-radius: 99px;
    display: inline-block;
    transform: rotate(-5deg) translate(30px, -10px);
}

.cases_block {
    padding-top: 44px;
    /* max-width: 1142px; */
    margin: 0 auto;
}

.cases_item {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.cases_item-img {
    max-width: 540px;
    width: 100%;
    height: 340px;
}

.cases_item-img img {
    border-radius: 21px;
}

.cases_name {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

.cases_skills {
    display: flex;
    gap: 10px;
    margin: 21px 0;
}

.cases_skill {
    font-size: 14px !important;
    font-weight: 700;
}

.cases_skill span {
    color: var(--light-blue);
}

.cases_desc {
    color: #fff;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 21px;
}

.cases_more-btn {
    /* max-width: 1142px; */
    /* width: 100%; */
    display: block;
    /* margin: 60px auto; */
}

.cases_more-btn span {
    transform: translate(10px, 2.5px);
    display: inline-block;
    color: var(--light-blue);
    font-size: 32px;
}

.cases_more-btn:hover span {
    color: #fff;
}